@import './reset';

@import './mixins';
@import './utilities';
@import './variable';

@import './components/sidebar';
@import './components/feed';
@import './components/tweet';
@import './components/trending';

@import './components/options';


.custom-toggle {
    background-color: transparent;
    border: none; 
    color: inherit;
    font-size: inherit;
}

.custom-toggle::after {
    display: none !important;
  }